/* SlopTank modification notice: added or changed by SlopTank on 2026-09-08, 2026-09-09. */
/* logo */
.topbar-wrapper img[alt="Swagger UI"], .topbar-wrapper span {
    visibility: collapse;
}

.topbar-wrapper .link:after {
    content: '';
    display: block;
    background-image: url(../sloptank.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    box-sizing: border-box;
    width: 220px;
    height: 40px;
}
/* end logo */
